<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sl.dao.goodspack.GoodsPackMapper">

   <!-- 查询套餐列表：分页显示 -->
   <select id="getGoodsPackList" parameterType="GoodsPack" resultType="GoodsPack">
         select * from goods_pack
         <trim prefix="where" prefixOverrides="and | or">
              <if test="goodsPackName !=null">
                   and goodsPackName like concat('%',#{goodsPackName},'%')
              </if>
              <if test="state !=null">
                  and state=#{state}
              </if>
              <if test="typeId !=null">
                  and typeId=#{typeId}
              </if>
         </trim>
         order by lastUpdateTime desc
         limit #{starNum},#{pageSize}
   </select>
   
   <!-- 查询总记录数：分页显示 -->
   <select id="count" resultType="int" parameterType="GoodsPack">
          select count(1) from goods_pack
          <trim prefix="where" prefixOverrides="and | or">
              <if test="goodsPackName !=null">
                   and goodsPackName like concat('%',#{goodsPackName},'%')
              </if>
              <if test="state !=null">
                  and state=#{state}
              </if>
              <if test="typeId !=null">
                  and typeId=#{typeId}
              </if>
         </trim>
   </select>
   
   <!-- 根据套餐编码或id查询套餐编码是否存在 -->
   <select id="goodsPackCodeIsExit" parameterType="GoodsPack" resultType="int">
         select count(1) from goods_pack
         <trim prefix="where" prefixOverrides="and | or">
              <if test="goodsPackCode !=null"> and goodsPackCode=#{goodsPackCode}</if>
              <if test="id !=null"> and id=#{id}</if>
         </trim>
   </select>
   
   <!-- 通过主键id查询商品套餐 -->
   <select id="getGoodsPackById" parameterType="GoodsPack" resultType="GoodsPack">
         select * from goods_pack 
         where id=#{id}
   </select>
   
   <!-- 获取添加套餐表的最后插入的id值 -->
   <select id="getAddGoodsPackId" resultType="int">
		select LAST_INSERT_ID() from goods_pack
	</select>
   
   <!-- 添加商品套餐 -->
   <insert id="addGoodsPack" parameterType="GoodsPack">
		insert into goods_pack (goodsPackCode,goodsPackName,typeId,typeName,totalPrice,state,
								num,note,createdBy,createTime,lastUpdateTime) 
		 values 
				(#{goodsPackCode},#{goodsPackName},#{typeId},#{typeName},#{totalPrice},#{state},
				#{num},#{note},#{createdBy},#{createTime},#{lastUpdateTime})
	</insert>
	
	<!-- 更新商品套餐 -->
	<update id="modifyGoodsPack" parameterType="GoodsPack">
	      update goods_pack
	      <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
	             <if test="goodsPackCode != null"> goodsPackCode = #{goodsPackCode},</if>
				 <if test="goodsPackName != null"> goodsPackName = #{goodsPackName},</if>
				 <if test="typeId != null"> typeId = #{typeId},</if>
				 <if test="typeName != null"> typeName = #{typeName},</if>
				 <if test="totalPrice != null"> totalPrice = #{totalPrice},</if>
				 <if test="num != null"> num = #{num},</if>
				 <if test="note != null"> note = #{note},</if>
				 <if test="state != null"> state = #{state},</if>
				 <if test="createdBy != null"> createdBy = #{createdBy},</if>
				 <if test="createTime != null"> createTime = #{createTime},</if>
				 <if test="lastUpdateTime != null"> lastUpdateTime = #{lastUpdateTime}</if>
	      </trim>
	</update>
	
	<!-- 删除商品套餐 -->
	<delete id="deleteGoodsPack" parameterType="GoodsPack">
	      delete from goods_pack
	      where id=#{id}
	</delete>



</mapper>
